/* ================================
   Global Reset & Base Styles
   ================================ */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f6f8;
    line-height: 1.6;
}